  
$accent-color: #f0b914;
$secondary-color: #f09814;
$background-color: #f0b914;
$text-color: grey;

$edit-color: #3b86ff;
$delete-color: #ff6857;
$cart-color: #5ce69e;

$default-font-family: "Noto Sans JP";
$secondary-font: "Titillium Web";